{% extends 'base.html.twig' %}

{% block title %}Contractor index{% endblock %}

{% block body %}

  <div class="row">
    <div class="tab_title col-3">
      <h3>Kontrahenci</h3><br>
    </div>
    <div class="create_new col-8">
      <a class="btn btn-primary" href="{{ path('contractor_new') }}" role="button">Dodaj kontrahenta</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Country</th>
        <th>Zip_code</th>
        <th>City</th>
        <th>Street</th>
        <th>Number</th>
        <th>Tax_id</th>
        <th>Telephone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for contractor in contractors %}
        <tr>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.name }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.name }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.country }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.zipCode }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.city }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.street }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.number }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.taxId }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.telephone }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('contractor_show', {'id': contractor.id}) }}">
              <div class="table-value">{{ contractor.email }}</div>
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="11">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
