{% extends 'base.html.twig' %}

{% block title %}Aktualności{% endblock %}

{% block body %}
  <div class="row">
    <h1>TMS
    </h1><br>
    <div class="col-lg-1"></div>
  </div>
  <h1>Aktualności</h1><br>

  {% for article in articles %}

    <div class="row">
      <div class="col-lg-1"></div>
      <div class="article-title col-lg-10">
        <h4>{{ article.title }}</h4>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="article-img col-lg-5">
        <img src="{{ asset('upload/img/' ~ article.image)  }}"/>
      </div>
      <div class="col-lg-5">
        <p>{{ article.description }}</p><br>
        <p class="dataautor">{{ article.createDate ? article.createDate|date('Y-m-d') : '' }}
          {{ article.addedBy }}</p>
      </div>
      <br>
    </div>
    <div class="row">
      <br>
      <div class="article-footer">
        <br>
      </div>
    </div>

  {% else %}
    <div>
      <h4 colspan="6">no articles found</h4>
    </div>
  {% endfor %}

{% endblock %}
