{% extends 'base.html.twig' %}

{% block title %}Aktualności{% endblock %}

{% block body %}
  <div class="articles">
    <h3>Aktualności</h3><br>

    {% for article in articles %}
      <div class="article">
        <div class="article-img">
          <img src="{{ asset('upload/img/' ~ article.image)  }}"/>
        </div>
        <div class="article-content">
          <div class="article-title">
            <h4>{{ article.title }}</h4>
          </div>
          <div class="article-description">
            <p>{{ article.description }}</p>
            <p class="dataautor">{{ article.createDate ? article.createDate|date('Y-m-d') : '' }}
              {{ article.addedBy }}</p>
          </div>
        </div>

      </div>
      <br>
      <div class="row">
        <br>
        <div class="article-footer">
          <br>
        </div>
      </div>
    {% else %}
      <div>
        <h4 colspan="6">no articles found</h4>
      </div>
    {% endfor %}
  </div>
{% endblock %}
