{% extends 'base.html.twig' %}

{% block title %}Loads index{% endblock %}

{% block body %}

  <div class="row">
    <div class="tab_title col-3">
      <h3>Ładunki</h3><br>
    </div>
    <div class="create_new col-8">
      <a class="btn btn-primary" href="{{ path('loads_new') }}" role="button">Dodaj ładunek</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Zaladunek</th>
        <th>Rozładunek</th>
        <th>Pojazd</th>
        <th>Zgłoszony</th>
        <th>Zleceniodawca</th>
      </tr>
    </thead>
    <tbody>
      {% for load in loads %}
        <tr>
          <td>
            <a href="{{ path('loads_show', {'id': load.id}) }}">
              <div class="table-value">{{ load.loading }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('loads_show', {'id': load.id}) }}">
              <div class="table-value">{{ load.unloading }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('loads_show', {'id': load.id}) }}">
              <div class="table-value">{{ load.capacity }},
                {{ load.vehicletype }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('loads_show', {'id': load.id}) }}">
              <div class="table-value">{{ load.createDate ? load.createDate|date('Y-m-d H:i:s') : '' }}</div>
            </a>
          </td>
          <td>
            <a href="{{ path('loads_show', {'id': load.id}) }}">
              <div class="table-value">{{ load.addedBy }}</div>
            </a>
          </td>
        </tr>
      {% else %}
        <pre>
        </pre>
        <tr>
          <td colspan="3">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
